* {
  font-family: century-gothic, sans-serif;
}

.header {
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.rab-left {
	font-weight: bold;	
}

.header a {
	text-decoration: none;
  color: black;
}

.header a.active {
	text-decoration: underline;
}

.header-nav {
	float: right;
  padding-right: 10px;
}

.header-nav a {
	margin-left: 10px;
}

body {
	padding-left: 10px;
}
